<!doctype html>
<html>
<head>
<meta charset="utf-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"> 
<META HTTP-EQUIV="expires" CONTENT="0"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=no" />
<title>快乐冲浪</title>
<link type="text/css" rel="stylesheet" href="css/global-min.css" />
<link type="text/css" rel="stylesheet" href="css/mobile.css" />
<link type="text/css" rel="stylesheet" href="css/flexslider.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/jquery.dewTabs.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
	$(function(){
		jQuery.ajax({
		   type: "POST",
		   url: "/happySurf/trafficAction!saveAccessMessage.action?path=/index.html&t="+Math.random(),
		   cache: false
		}); 
	});
</script>
</head>

<body>

<div class="header">
  <h1 class="name fl"><span>快乐冲浪</span></h1>
  <div class="clear"></div>  
</div><!--/.header-->

<div class="search">
    <form id="frmSearch" method="post" action="search.do">
      <div class="ipt">
        <input type="text" id="INFO" name="INFO" data-widget="quickdelete" data-pagetype="search" autocomplete="off">
      </div>
      <div class="btn">
        <input type="submit" id="search" value="搜索">
      </div>
    </form>
</div><!--/.search-->

<div class="wrap">

  <div class="index-banner flexslider">
    <ul class="slides">
#foreach ($element in ${AdPage})
        <li><a href="$!{element.AD_URL}">
            <img src="${element.AD_IMG}" style="height:200px;" alt="${element.AD_INFO}">
            <p class="flex-caption">${element.AD_INFO}</p>
        </a></li>
#end        
    </ul>
  </div>

<div class="tab tabStyle">
  <ul class="tabHead mNav clearfix">
    <li class="tabLabel"><a href="#" rel="#tabID-1">焦点</a></li>
    <li class="tabLabel"><a href="#" rel="#tabID-2">视频</a></li>
    <li class="tabLabel"><a href="#" rel="#tabID-3">趣图</a></li>
    <li class="tabLabel"><a href="#" rel="#tabID-4">阅读</a></li>
    <li class="tabLabel"><a href="#" rel="#tabID-5">应用</a></li>
  </ul><!--/.mNav-->    
  <div class="tabBody index-list">  
 	<div id="tabID-1" class="tabContent">    
        <ul class="comList clearfix">
#foreach ($e in ${FocusPage})
            <li>
            <a class="clearfix" href="${e.NEWS_URL}">
                <em class="name">${e.NEWS_SUBJECT}</em>
                <span class="icon"><img src="${e.NEWS_IMG}" width="80" height="64" alt="${e.NEWS_SUBJECT}"></span>
                <span class="caption ellipsis">
                    <span class="param">${e.NEWS_ABOUT}</span>
                </span>
            </a>
            </li>
#end   
        </ul>
        <div class="comListMore"><a href="javascritp:void();">查看更多&gt;&gt;</a></div>
    </div>
 	<div id="tabID-2" class="tabContent">    
        <ul class="comList clearfix">
#foreach ($e in ${VideoPage})
            <li>
            <a class="clearfix" href="${e.NEWS_URL}">
                <em class="name">${e.NEWS_SUBJECT}</em>
                <span class="icon"><img src="${e.NEWS_IMG}" width="80" height="64" alt="${e.NEWS_SUBJECT}"></span>
                <span class="caption ellipsis">
                    <span class="param">${e.NEWS_ABOUT}</span>
                </span>
            </a>
            </li>
#end
        </ul>
        <div class="comListMore"><a href="#">查看更多&gt;&gt;</a></div>
    </div>
 	<div id="tabID-3" class="tabContent">    
        <ul class="comList clearfix">
#foreach ($e in ${PicPage})
            <li>
            <a class="clearfix" href="${e.NEWS_URL}">
                <em class="name">${e.NEWS_SUBJECT}</em>
                <span class="icon"><img src="${e.NEWS_IMG}" width="80" height="64" alt="${e.NEWS_SUBJECT}"></span>
                <span class="caption ellipsis">
                    <span class="param">${e.NEWS_ABOUT}</span>
                </span>
            </a>
            </li>
#end
        </ul>
        <div class="comListMore"><a href="#">查看更多&gt;&gt;</a></div>
    </div>
 	<div id="tabID-4" class="tabContent">    
        <ul class="comList clearfix">
#foreach ($e in ${ReaderPage})
            <li>
            <a class="clearfix" href="${e.NEWS_URL}">
                <em class="name">${e.NEWS_SUBJECT}</em>
                <span class="icon"><img src="${e.NEWS_IMG}" width="80" height="64" alt="${e.NEWS_SUBJECT}"></span>
                <span class="caption ellipsis">
                    <span class="param">${e.NEWS_ABOUT}</span>
                </span>
            </a>
            </li>
#end
        </ul>
        <div class="comListMore"><a href="#">查看更多&gt;&gt;</a></div>
    </div>
 	<div id="tabID-5" class="tabContent">    
        <ul class="comList clearfix">
#foreach ($e in ${AppPage})
            <li>
            <a class="clearfix" href="${e.NEWS_URL}">
                <em class="name">${e.NEWS_SUBJECT}</em>
                <span class="icon"><img src="${e.NEWS_IMG}" width="80" height="64" alt="${e.NEWS_SUBJECT}"></span>
                <span class="caption ellipsis">
                    <span class="param">${e.NEWS_ABOUT}</span>
                </span>
            </a>
            </li>
#end
        </ul>
        <div class="comListMore"><a href="#">查看更多&gt;&gt;</a></div>
    </div>
  </div>  
</div>
  
</div><!--/.wrap-->

</body>
</html>

