<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="user" class="test.aop.Dao">
		<property name="str">
			<value>insert into tb_user(id)values(1)</value>
		</property>
	</bean>
	<bean id="card" class="test.aop.Dao">
		<property name="str">
			<value>insert into tb_card(id)values(1)</value>
		</property>
	</bean>

	<bean id="aop" class="test.aop.AopCut" />
	<aop:config>
		<aop:aspect ref="aop">
			
			<aop:before method="card" pointcut="bean(card) and args(argvalue)" arg-names="argvalue"></aop:before>

		</aop:aspect>
	</aop:config>

</beans>